<div class="input-group">
    <div class="error-container">
        @if (nameError) {
        <span class="error-text">{{ nameError }}</span>
        }
    </div>
    <div class="input-wrapper" [class.error]="nameError">
        <input type="text" placeholder="Name" [(ngModel)]="formData.firstname" name="firstname"
            (input)="onNameInput()" required />
        <div class="input-divider"></div>
        <img src="assets/person-icon.png" alt="Person" class="input-icon" />
    </div>
</div>

<div class="input-group">
    <div class="error-container">
        @if (emailError) {
        <span class="error-text">{{ emailError }}</span>
        }
    </div>
    <div class="input-wrapper" [class.error]="emailError">
        <input type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" (input)="onEmailInput()"
            pattern="[^\s@]+@[^\s@]+\.[^\s@]+" required />
        <img src="assets/mail-icon.png" alt="Mail" class="input-icon" />
    </div>
</div>

<div class="input-group">
    <div class="error-container">
        @if (phoneError) {
        <span class="error-text">{{ phoneError }}</span>
        }
    </div>
    <div class="input-wrapper" [class.error]="phoneError">
        <input type="tel" placeholder="Phone" [(ngModel)]="formData.phone" name="phone" (input)="onPhoneInput($event)"
            required />
        <img src="assets/phone-icon.png" alt="Phone" class="input-icon" />
    </div>
</div>