<div class="contacts-sidebar">
    <div class="button-container">
        <button (click)="openAddModal()" class="add-btn">
            Add new contact
            <img src="assets/add-contact-icon.png" alt="Add contact">
        </button>
    </div>

    <div class="contacts-list">
        @for (group of groupedContacts; track group.letter) {
        <div class="letter-group">
            <div class="letter-header">
                <span class="letter">{{ group.letter }}</span>
                <div class="letter-divider"></div>
            </div>

            @for (contact of group.contacts; track contact.id) {
            <div class="contact-list-item" [class.selected]="contact === selectedContact"
                (click)="selectContact(contact)">
                <span class="avatar" [style.background]="getAvatarColor(contact)">
                    {{ getInitials(contact) }}
                </span>
                <div class="contact-info">
                    <div class="name">{{ contact.firstname }} {{ contact.lastname }}</div>
                    <div class="email">{{ contact.email }}</div>
                </div>
            </div>
            }
        </div>
        }
    </div>

    <button class="mobile-add-btn" (click)="openAddModal()">
        <img class="btn-normal" src="assets/responsive-add-button.png" alt="">
        <img class="btn-hovered" src="assets/responsive-add-button-hovered.png" alt="">
    </button>
</div>