.avatar-container {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.avatar-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  color: #fff;
  flex-shrink: 0;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.avatar-container .avatar.no-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 70px;
}

@media (max-width: 1280px) {
  .avatar-container {
    left: 60px;
  }

  .avatar-container .avatar {
    width: 110px;
    height: 110px;
    font-size: 42px;
  }
}

@media (max-width: 1024px) {
  .avatar-container {
    left: 40px;
  }

  .avatar-container .avatar {
    width: 100px;
    height: 100px;
    font-size: 38px;
    border: 2px solid #ffffff;
  }
}

@media (max-width: 900px) {
  .avatar-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -24px;
  }

  .avatar-container .avatar {
    width: 120px;
    height: 120px;
  }
}
