.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  cursor: default;
  user-select: none;
  flex-shrink: 0;

  &--small {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }

  &--medium {
    width: 42px;
    height: 42px;
    font-size: 14px;
  }

  &--large {
    width: 120px;
    height: 120px;
    font-size: 47px;
  }
}
