// Close Button
.close-btn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  border-radius: 56px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    transform: scale(1.1);
  }

  svg path {
    transition: stroke 0.2s;
  }

  &:hover svg path {
    stroke: #29abe2;
  }
}
