.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  color: white;

  &--user-story {
    background-color: #0038ff;
  }

  &--technical-task {
    background-color: #1fd7c1;
  }

  &--default {
    background-color: #2a3647;
  }
}
