// Primary check button - Submit Button
.btn-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;

  width: 89px;
  height: 57px;

  background: #2a3647;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  color: #ffffff;

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;

  &:hover {
    background: #29abe2;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(0);
  }

  svg {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
